* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    --color: red;
}
.info {
    width: 100%;
    margin: auto;
    background-color: black;
}

span {
    padding: 1rem;
}


.entete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: white;
    height: 3rem;
}


.heder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 5rem;
    padding: 1rem;
}

.logo {
    font-weight: bold;
    font-size: xx-large;
}

.bdy {
    width: 80%;
    margin: auto;

}


.menu {
    height: 3rem;
    color: black;
    font-size: larger;
    padding: 1rem;
    border-bottom: 2px solid rgb(237, 237, 228);
    background-color: white;
    margin-bottom: 2rem;

}

.menu>span:nth-child(1) {

    margin-left: 9%;
}

.menu>span:hover {
    color: var(--color);
    text-decoration: underline var(--color);
}

.menuMilieu>span:hover {
    color: var(--color);
    text-decoration: underline var(--color);


}

.imagesColonne1 {
    height: 100%;
    display: flex;
    flex-direction: row;

}

.productName {
    font-weight: bold;
    color: black;
    font-size: large;

}

.prix {
    color: var(--color);
    font-weight: bold;
    font-size: large;
}

.categorie {
    opacity: 0.5;
}

.etoile {
    color: var(--color);
    margin-bottom: 1rem;
    text-align: center;
    position: relative;

}

.etoile::before {
    content: "__________";
    color: black;
  left: 4%;
  position: absolute;
  bottom: 22%;


}

.etoile::after {
    content: "_________";
    color: black;
    position: absolute;
    bottom: 22%;

}


.text1Bdy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.imagesColonne2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.imagesColonneUn {

    height: 40%;
    margin: 5px;
    border: 2px solid rgb(235, 229, 229);
    padding: 10px;
    position: relative;

}

.imagesColonneUn>img {

    margin-left: 3rem;
    margin-right: 3rem;
}

.nouveau {
    position: absolute;
    right: 20%;
    top: 2%;
    background-color: var(--color);
    color: white;
    padding: 5px;
}

.promo {
    position: absolute;
    right: 40%;
    top: 2%;
    background-color: white;
    color: var(--color);
    border: 1px solid var(--color);
    padding: 5px;
}

.textSousImage {
    text-align: center;

}


.icon {
    display: flex;
    justify-content: space-evenly;


}

.couper {
    border-top: 18.5rem solid rgba(255, 0, 0, 0.823);
    border-right: 25rem solid transparent;

}

.textImag {
    position: relative;
    top: 5%;

}

.promotion {
    position: relative;
    overflow: hidden;
    color: rgb(27, 25, 25);
}

.promotion::before {

    content: "";
    position: absolute;
    left: -207px;
    background-color: rgba(255, 0, 0, 0.88);
    padding: 5rem 15rem 10rem 10rem;
    transform: rotate(292deg);

}

.promotionText {
    color: white;
    position: absolute;
    padding: 5px;
    font-weight: bold;
}

.menuMilieu {
    font-weight: bold;
    display: flex;
    flex-direction: row;

}